.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Title-App {
  text-align: center;
  margin: 30px;
}

.Task-Inputs {
  text-align: center;
}
.Task-Container {
  background: rgb(255, 255, 255);
  width: 500px;
  border-radius: 15px;
  height: 500px;
  overflow: auto;
}

.Input-Text {
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

.container-task {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.item-task {
  width: 80%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(134, 134, 134, 0.692);
  box-shadow: 3px 3px rgba(175, 175, 175, 0.822);
  font-weight: 600;
  margin: 10px;
}

input {
  height: 30px;
}
.input-submit {
  background: rgba(2, 0, 36, 0.897);
  color: white;
  height: 36px;
  cursor: pointer;
}

.item-task p {
  color:rgba(5, 4, 17, 0.897);
  text-transform: capitalize;
  cursor: pointer;
}

.Clear-button{
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  width: 60px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
}
